<section class="section-about">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">
      they are looking for you
    </h2>
  </div>

  <div class="row">
    <div class="col-1-of-2">
      <h3 class="heading-tertiary u-margin-bottom-small">Build a great future</h3>
      <p class="paragraph">
        Large companies around the world looking for talented people like you to make them part of their work team,
        choose one of your preference that fits your genome and start your career towards success.
      </p>

      <h3 class="heading-tertiary u-margin-bottom-small">We help you find what you want</h3>
      <p class="paragraph">
        meet our best recruiters, they will help you reach the best positions in the best companies.
      </p>

      <a href="https://torre.co/es/search/jobs" target="_blank"  (click)="goToUrl()" class="btn-text">Learn more &rarr;</a>
    </div>
    <div class="col-1-of-2">
      <div class="composition">
        <a href="#popup" (click)="show('EW7D67wy')"><img src="assets/img/Atlassian.png" alt="photo 1"
                                                         class="composition__photo composition__photo--p1"></a>
        <a href="#popup" (click)="show('arQqZArX')"><img src="assets/img/mattermost.png" alt="photo 2"
                                                         class="composition__photo composition__photo--p2"></a>
        <a href="#popup" (click)="show('Vro3PXry')"><img src="assets/img/stripe.jpg" alt="photo 3"
                                                         class="composition__photo composition__photo--p3"></a>
      </div>
    </div>
  </div>
</section>

<div class="popup" id="popup">
  <div class="popup__content">
    <div class="popup__left">
      <img [src]="opportunity?.attachments[0]?.address" alt="Tour photo" class="popup__img">
      <img [src]="opportunity?.organizations[0]?.picture" alt="Tour photo" class="popup__img">
    </div>
    <div class="popup__right">
      <a href="#section-tours" class="popup__close">&times;</a>
      <h2 class="heading-secondary u-margin-bottom-small">{{opportunity?.objective}}</h2>
      <h3 class="heading-tertiary u-margin-bottom-small">Location
        :{{opportunity?.place?.location.length > 0 ? ' ' + opportunity?.place?.location[0].id : ' remote'}}</h3>
      <p class="popup__text">
        {{text}}
      </p>
      <p *ngIf="opportunity?.compensation?.visible"
         class="heading-tertiary">{{opportunity?.compensation?.currency}} {{opportunity?.compensation?.minAmount}}
        - {{opportunity?.compensation?.maxAmount}} {{opportunity?.compensation?.periodicity}}</p>
    </div>
  </div>
</div>
