@import "src/sass/styles";

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)),
  url("https://starrgate.s3.amazonaws.com:443/users/775ba4e79cf55bf6064c107e06ab43bcead86bcd/profile_E7dWBCW.jpg");
  background-size: auto;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  ul {
    list-style: none;
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 7rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.link {
  position: absolute;
  top: 60%;
  left: 60%;
  transition: all .2s;
  animation: moveInBottom 1s ease-out .75s;
  animation-fill-mode: backwards;
  display: flex;
}

.location{
  position: absolute;
  top: 60%;
  left: 60%;
  transition: all .2s;
  animation: moveInBottom 1s ease-out .75s;
  animation-fill-mode: backwards;
  display: flex;
}
