<section class="section-features">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">
      some offers
    </h2>
  </div>

  <div class="row">
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--1">
            &nbsp;
          </div>
          <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--1">
                                                            Staff Software Engineer
                            </span>
          </h4>
          <div class="card__details">
            <ul>
              <li>Empleo a tiempo completo</li>
              <li>Remoto</li>
              <li>Software developer</li>
              <li>Java</li>
              <li>Kotlin</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
          <div class="card__cta">
            <div class="card__price-box">
              <p class="card__price-only">año</p>
              <p class="card__price-value">USD $150 - 170k</p>
            </div>
            <a href="#" class="btn btn--white">Apply!</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--2">
            &nbsp;
          </div>
          <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--2">
                                                            Back - end
                            </span>
          </h4>
          <div class="card__details">
            <ul>
              <li>Empleo a tiempo completo</li>
              <li>Remoto</li>
              <li>Software developer</li>
              <li>Java</li>
              <li>Kotlin</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-2">
          <div class="card__cta">
            <div class="card__price-box">
              <p class="card__price-only">año</p>
              <p class="card__price-value">USD $150 - 170k</p>
            </div>
            <a href="#" class="btn btn--white">Apply!</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--3">
            &nbsp;
          </div>
          <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--3">
                                                            Front - end
                            </span>
          </h4>
          <div class="card__details">
            <ul>
              <li>Empleo a tiempo completo</li>
              <li>Remoto</li>
              <li>Software developer</li>
              <li>Java</li>
              <li>Kotlin</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-3">
          <div class="card__cta">
            <div class="card__price-box">
              <p class="card__price-only">año</p>
              <p class="card__price-value">USD $150 - 170k</p>
            </div>
            <a href="#" class="btn btn--white">Apply!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="u-center-text u-margin-top-huge">
    <a href="#" class="btn btn--green">Discover more jobs</a>
  </div>
</section>
